@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Geo", sans-serif;
   line-height: 1.1;
   margin: 0.5em 0;
   text-align: Left;
   margin: 0.5rem;
}

a {
   font-family: "Geo", sans-serif;
   color: rgb(121, 47, 178);
   font-weight: bold;
}

h1 {
   font-size: 3.2em;
}

h2 {
   font-size: 2em;
}
h3 {
   font-size: 1.2em;
}

p {
   margin: 0.5rem;
}

hr {
   margin: 1rem;
}

#app {
   margin: 0 auto;
   padding: 2rem;
   text-align: justify;

   width: 40%;
}

@media (max-width: 1000px) {
   #app {
      width: 100%;
   }
}
